<h1>Lists Index</h1>
<% @random.each do %>
   <%= link_to "Random List", games_create_path %>
<% end %>

<% @lists.each do |lists| %>
   <tr>
      <td><%= link_to "#{lists.title}", games_create_path %></td>
   </tr>
<% end %>  