<div class="lists">
  <div ng-app=LoLoL>
    <div id="topSearch">
      <input id='searchBox' placeholder='Search' ng-model="list.title">
      Has Game: <input type="checkbox" ng-model="list.game">
    </div>
    <div class='listList' ng-controller="searchListCtrl" ng-init="init(<%= @lists %>)">
      <p>There are {{(lists|filter:list).length}} available lists. </p>
      <div ng-repeat="list in lists | filter:list | limitTo: 100" >
        <a href="#" class="listInfo" value={{list.id}} >{{list.title}}</a>
      </div>
    </div>
  </div>
</div>