
<section id='splash'>
  <div class="left">
     <div class="button">
        <a href="/lists"><p>PLAY</p></a>
     </div>
  </div>
  <div class="logo">
  <%= image_tag("logo_lolol.png", :class => "logo") %>
  </div>
<section>