<h1>Games</h1>
<%= content_tag "div", id: "timer", data: {time: @game.seconds_allocated} do %><% end %>
<%= text_field_tag(:answer) %>
<% @entries.each do |entry| %>
  <%= div_for(entry, hidden:"true", value:entry.text) do %><%= entry.text %><% end %>
<% end %>