@import "bootstrap";
body {
   background-image: image-url('16_bit_bo_play_background_for_Lolol.png');
   background-repeat: repeat;
   font-family: 'Play', sans-serif;
   padding-bottom: 10px;
}
header {

   font-family: 'Press Start 2P', cursive;
   background-color: blue;
   height: 100px;
   text-align: center;
      div{
         padding-top: 30px;
         a {
         font-size: 200%;
         color: white;
         text-shadow: 0.2em 0.1em #333;
         }
         a:hover{
            text-decoration: none;
            color: white;
         }
      }
}  
section {
   @extend .container;
      div{
         @extend .row;
         .window {
            // @extend .col-xs-offset-1;
            // @extend .col-xs-10;
            height: 600px;
            background-color: white;

         }
      }
}

// footer{
//    @extend .navbar;
//    @extend .navbar-default;
//    @extend .navbar-fixed-bottom;
//       div{
//             @extend .container;
//          ul{
//                @extend .navbar-header;
//             li{
//                @extend .navbar-brand

//             }
//          }
//       }
// }

