<!DOCTYPE html>
<html>
<head>
  <title>ListOfListsOfLists</title>
  <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Press+Start+2P">

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
   <header>
      <div>
         <a href='/lists'>List of Lists of Lists</a>
      </div>
      </header>


    <%= yield %>

</body>
</html>
